
/* Élément | http://localhost:3000/ */

.ContainerDiv{
  display: flex;
  flex-direction: column;
}
.ContainerRow {
  display: flex;
  flex-direction: row;
}
.avatar{
  border-radius: 50%;
  background-color: aqua solid;

  
}

/* Feuille de style intégrée #1 | http://localhost:3000/ */

.avatar {
  /* background-color: aqua solid; */
  color: cornflowerblue;
  background: lightcoral;
}

.ContainerRow {
  justify-content: space-around;
}
